*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(242, 246, 247);
}
.main-container{
    display: flex;
    justify-content: space-between;
   
}
.menu{
    width: 25%;
    height: 100vh;
    background-color: white;
    visibility: hidden;
}
.list-menu{
  
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.list{
    display: flex;
    justify-content: space-between;
}

span{
    color: rgb(52, 197, 233);
}


#xmark{
    font-size: 1.5rem;
    margin-top: 8px;
    color: red;
}
.options{
    list-style: none;
    /* padding: 0; */
    margin: 2rem 0;
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
}
.options li{
    /* margin: 3rem 0; */
    padding: 20px;
}

.social-media{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 10rem; 
    color: rgb(52, 197, 233);
}

#menu-bar{
    font-size: 2rem;
    position: relative;
    top: 3rem;
    right: 3rem;
    color: rgb(52, 197, 233);
    cursor: pointer;
    animation-name: zoom;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* background-color: rgb(5, 59, 109); */
}
#xmark{
    /* animation-name: xmark; */
    /* animation-duration: .5s; */
    /* animation-iteration-count: infinite; */
    transition: transform 2s;
}

@keyframes zoom{
    0%{scale: 1;}
    100%{scale: 1.5;}
}  
/* 
@keyframes xmark {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}
   */

